<form action="/confirm" method="POST">
    <label for="titulo">Titulo: </label>
    <input 
        id= "titulo"
        name="titulo"
        type = "text"/>

    <label for="postagem">Post: </label> 
    <textarea 
        id= "postagem"
        name= "postagem"> </textarea>

    <button type="submit">Enviar</button>

</form>